/* card css */

body {  
  color: #565a5c;
  background-color: #F8F8F8;
}


.mural{
    margin-left:3px;
}
.mural h3 {
	margin-left:13px;
	margin-top: 0px;
}
.card {
	margin: 10px;
  	padding: 16px;
	line-height: 1.5;
	position: relative;
	word-wrap: break-word;
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
	background: #FFFFFF;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.card-mural {
	width: 280px;
	height: 165px;
}

.card-name {
    text-align: center;
    overflow: hidden;
    margin-top:60px;
}

.card-menu {
	float:right;
	margin-top: -10px;
}

.card-menu a {
	color: #CDCDCD;
}

.card-menu ul {
	font-size: 0.8em;
	word-spacing: 6px;
}

.card-image {
	float:left;
}
.card-linha {
	margin: 0px 80px;
    width: 150px;
}

.card.new-card {
    color: #CECECE;
    text-align: center;
    padding: 31px;
    font-size: 18px;
}

.card.new-card a {
	color: #CECECE;
}

.card.new-card > a:hover {
	color: F2F2F2;
	
}

.dashboard-h3 {
	float:left;
}
.dashboard-buscar {
	float:right;
}
.dashboard-options {
    margin: 25px;
    border-top: 1px solid #CDCDCD;
    padding-top: 25px;
    
}


@media (min-width: 560px){

.card {
		flex-grow: 1;
		display: inline-block;
		text-align: left;
		box-sizing: border-box;
		vertical-align: top;
	}


}

